@import url(src/style.css);
@import url(src/loading.css);
@import url(src/navbar.css);
@import url(src/ui.css);
@import url(src/frame.css);
@import url(src/form.css);
@import url(src/chart.css);
@import url(src/button.css);
@import url(src/icons.css);
@import url(../bootstrap/css/bootstrap.min.css);